

.container {
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(45, 55, 72);
  margin-bottom: 1.5rem;
  line-height: 1.3;
  text-align: center;
}

.text {
  font-size: 1.125rem;
  line-height: 1.8;
  color: #4a5568;
  text-align: center;
  max-width: 90%;
  margin: auto;
}
