

.container {
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(45, 55, 72);
  margin-bottom: 1.5rem;
  line-height: 1.3;
  text-align: center;
  margin-top: 60px;
}

.text {
  font-size: 1.3rem;
  line-height: 1.8;
  font-weight: 700;
  color: #2f3642;
  text-align: center;
  max-width: 90%;
  margin: auto;

}

@media (max-width: 768px) {

  .title {
  font-size: 1.8rem;
    max-width: 88%;
    margin: auto;
    margin-bottom: 16px;

}

.text {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 700;
  color: #2f3642;
  text-align: center;
  max-width: 88%;
  margin: auto;

}

}